/* Background edges */
.main {
    /* background: linear-gradient(to right, #f0f8ff, #ffffff, #f0f8ff); */
    background: #000000;
    padding: 20px;
}

/* KPI metrics styling */
[data-testid="stMetricValue"] {
    color: #224aec;
    font-weight: bold;
}

/* Chart container styling */
.chart-box {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.08);
    transition: all 0.2s ease-in-out;
}
.chart-box:hover {
    box-shadow: 0px 6px 14px rgba(0,0,0,0.12);
    transform: translateY(-2px);
}

/* Altair chart menu customization */
.vega-actions a {
    color: #0a6ed1 !important;
    font-weight: bold;
}
.vega-actions a:hover {
    color: #084b8a !important;
}

.stCard {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 16px;
    margin-bottom: 20px;
}